* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CCUpUpAndAway';
  src: url("../fonts/CCUpUpAndAway.woff2");
}

body {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
}